.menubar {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background-900);
  border-bottom: 2px solid var(--background-700);
  box-sizing: border-box;
  padding: 1rem;
}

.menu-btn {
  background-color: transparent;
  min-width: unset;
}
.submenu-btn {
  padding: 0.5rem;
  border-radius: 0;
  width: 100%;
  gap: 3rem;
  display: flex;
  justify-content: space-between;
  
  text-wrap: nowrap;
  background-color: transparent;

  color: var(--text-100);
}
.menu {
  display: flex;
}

.menu-item {
  position: relative;
}

.submenu {
  position: absolute;
  background-color: var(--secondary-700);
  display: felx;
  border-radius: 0.5rem;

  height: 0;
  overflow: hidden;
  padding: 0;

  transition-duration: 30ms;
}

.activate-submenu {
  height: auto;
  padding: 1rem;

  transition-duration: 100ms;
  z-index: 1;
}

.brush-settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#brush-size-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--background-100);
  color: var(--text-950);
  outline: none;
}


